/* shard/videoと同様のcssを使用 */
.posts-body {
  display: flex;
  height: calc(100vh - 110px);
  width: 100vw;
  color: black;
}
.posts-index {
  overflow: scroll;
  width: 85vw;
}
.sub-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 25px;
  width: 80vw;
  margin: 30px;
}

.sub-header a {
  margin-right: 20px;
}

.videos {
  width: 85vw;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}
.video {
  margin-left: 20px;
}

.post-show-content-area {
  position: absolute;
  width: 85vw;
  height: 47vh;
  background-color: white;
}


.youtube-title {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.youtube-title a {
  text-decoration: none;
  color: black;
  overflow: hidden;
  height: 40px;
  font-size: 20px;
}

.no-login{
  text-align: center;
  font-size: 30px;
}

.video-status {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin-bottom: 30px;
}

@media screen and (max-width:960px){
  .sub-header {
    font-size: 10px;
  }
  .video {
    width: calc(70vw - 40px);
  }
}

@media screen and (max-width:500px) {
  .posts-body {
    overflow: scroll;
  }
}

@media screen and (max-width:400px){
  .video img {
    width: 250px;
    aspect-ratio: 16 / 9;
  }
  .youtube-title {
    width: 250px;
  }
}