<div class="side-bar">
  <div class="game-list">
    <% @games.each do |game|  %>
      <ul class="side-game-title"><%= link_to game.game_title, games_path(game.id) %></ul>
      <% @grades.each do |grade| %>
      <li><%= link_to grade.grades, '#' %></li>
      <% end %>
    <% end %>
  </div>
</div>