<div class="side-bar">
  <div class="game-list">
    <ul>ゲーム名
      <li>初級</li>
      <li>中級</li>
      <li>上級</li>
    </ul>
  </div>
  <div class="game-list">
    <ul>ゲーム名
      <li>初級</li>
      <li>中級</li>
      <li>上級</li>
    </ul>
  </div>
  <div class="game-list">
    <ul>ゲーム名
      <li>初級</li>
      <li>中級</li>
      <li>上級</li>
    </ul>
  </div>
  
</div>