<div class="posts-body">
  <%= render "shared/side_bar" %>
  <div class="posts-index">
    <div class="sub-header">
      <div class="info"><%= @game.game_title %>の動画</div>
      <div class="more">もっと見る</div>
    </div>
    
  </div>
</div>