.game-manager-title {
  font-size: 30px;
  text-align: center;
  color: #ffff;
  padding: 20px;
}
.game-manager-body{
  background-image: url(https://pakutaso.cdn.rabify.me/shared/img/thumb/yamasha1102019.jpg.webp?d=1420);
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 110px);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-title {
  font-size: 30px;
  width: 40vw;
  height: 10vh;
  color: white;
}

.grades {
  width: 40vw;
  height: 30vh;
}

.grade {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  color: white;
  text-align: center;
}

.game-player-data {
  width: 20vw;
  height: auto;
}