/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  box-sizing: border-box;
}
/* エラーによるレイアウト崩壊の抑制*/
.field_with_errors {
  display: contents;
}
/* ヘッダー部分 */


.header {
  width: 100vw;
  display: flex;
  height: 80px;
}

.header-logo {
  width: 15vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header-logo a{
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.header-list {
  width: calc(100vw - 15vw);
  background-color: #444444;
  display: flex;
  justify-content: right;
  align-items: center;
}

.header-list a{ 
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right: 5px;
}

#dark {
  color: black;
  margin: 10px;
  background-color: #444444;
  font-size: 20px;
}

#light {
  display: none;
  color: #ffffff;
  margin: 10px;
  background-color: #444444;
  font-size: 20px;
}

/* バーボタン関連 */
#bars {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

#bars:hover {
  opacity: 0.4;
}

#bars-none {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  display: none;
}

#bars-none:hover {
  opacity: 0.4;
}



.show-btn {
  background-color: #444444;
  border: 1px solid #708090;
}

.show-list {
  flex-direction: column;
  position: absolute;
  right: 0;
  display: none;
  font-size: 5px;
  color: black;
  width: 150px;
  text-decoration: none;
}


@media screen and (max-width:960px){
  .header-logo a{font-size: 15px;}  
  .header-list a {font-size: 15px;}
}

.hidden{
  display: none;
}

/* フッター */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(94, 94, 94);
  color: #ffffff;
  font-size: 20px;
  height: 30px;
  width: 100vw;
}


.footer a{
  text-decoration: none;
  color: black;
  margin-left: 50px;
  margin-right: 10px;
}

.show-list {
  flex-direction: column;
  position: absolute;
  right: 0;
  height: 200px;
  width: 100px;
  z-index: 10;
}

.show-btn {
  display: block;
  font-size: 5px;
  color: black;
  background-color: #ffffff;
  padding: 10px;
}
@media screen and (max-width:500px){
  .header-logo a{
    font-size: 5px;
  }
}