.body_password_foget {
  height: calc(100vh - 100px);
  width: 100vw;
  background-image: url(https://pakutaso.cdn.rabify.me/shared/img/thumb/YAMAyamasha-12.jpg.webp?d=1420);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
