

.signup {
  font-size: 40px;
  text-align: center;
  color: #ffff;
  padding: 20px;
}

.field {
  width: 30vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  color: #ffff;
  font-size: 15px;
  text-align: center;
}

.field label {
  font-size: 30px;
}

.field input{
  border-radius: 30px;
  padding: 15px;
}

.body {
  height: calc(100vh - 100px);
  width: 100vw;
  background-image: url(https://pakutaso.cdn.rabify.me/shared/img/thumb/kumakichi2381.jpg.webp?d=1420);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

