.posts-body {
  height: 1500px;
  overflow: scroll;
  background-color: white;
}
.sub-header {
  display: flex;
  width: 80vw;
  justify-content: space-between;
  margin: 20px;
  font-size: 25px;
}
.video {
  width: 100vw;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
.video a {
  padding: 20px;
}

.youtube-title {
  margin-left: 20px;
}

.youtube-title img{
  width: 20px;
  height: 20px;
}

@media screen and (max-width:960px){
  .sub-header {
    font-size: 10px;
  }
  .video a{
    text-decoration: none;
    width: calc(50vw - 40px);
    padding: 20px;
  }
  .video img {
    width: calc(50vw - 40px);
  }
  
}

@media screen and (max-width:500px) {
  .posts-body {
    overflow: scroll;
  }
}