/* サイドバーと本体をflex関係に */
.posts-body {
  display: flex;
  height: calc(100vh - 110px);
  width: 100vw;
  color: black;
}
.posts-index {
  overflow: scroll;
}
.sub-header {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  margin: 20px;
  font-size: 25px;
}

.videos {
  width: 80vw;
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.video {
  margin: 10px;
}

.youtube-title {
  display: flex;
  justify-content: space-between;
}

.youtube-title a {
  text-decoration: none;
  color: black;
  overflow: hidden;
  width: 150px;
  height: 70px;
}

.video-user {
  margin-left: 30px;
}

@media screen and (max-width:960px){
  .sub-header {
    font-size: 10px;
  }
  .video {
    width: calc(50vw - 40px);
  }
  
}

@media screen and (max-width:500px) {
  .posts-body {
    overflow: scroll;
  }
}