.post-show {
  width: calc(100vw - 15vw);
  overflow: scroll;
}

.post-show-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  height: 30px;
  width: 80vw;
}

.post-nickname a{
  text-decoration: none;
  color: black;
}

.posts-editer {
  margin: 0 30px;
  width: 78vw;
  text-align: right;
}

.posts-editer a{
  text-decoration: none;
  color: black;
}

.youtube-container {
  width: 80vw;
  aspect-ratio: 16 / 11;
  z-index: 10;
  background-color: white;
}

.youtube-container iframe{
  margin-left: 20px;
  width: 80vw;
  aspect-ratio: 16 / 9;
  position: absolute;
  left: 13.6%;
}

.post-show-content {
  margin-top: 35px;
  overflow: scroll;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  background-color: #444444;
  width:84.9vw;
  z-index: 10;
  height: 15vh;
  font-size: 15px;
  word-wrap: break-word;
}
.follow {
  height: 40px;
}

.post-status {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}



@media screen and (min-width:600px){
  .post-show-title { width: 530px; }
  .posts-editer { width: 530px; }
  .post-status { width: 530px; }
  .post-show-content-area { height: 10vh; }
  .youtube-container {
    width: 550px;
    aspect-ratio: 16 / 9;
  }
  .youtube-container iframe{
    width: 500px;
    aspect-ratio: 16 / 9;
  }
}

/* コメント一覧画面 */
.commnet-area {
  height: 20vh;
  overflow: scroll;
}

.comment-text {
  font-size: 20px;
}

.comment-name {
  font-size: 10px
}

#comment-botton {
  color: black;
}